@import '../settings';
.main {
  justify-content: initial !important;
  nav {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    .main_copy {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(90deg,#e6007a -5.88%,#703ac2 15.42%,#0070eb 40.77%,#0297fb 72.21%,#0ae2ff 95.53%);
      -webkit-background-clip: text;
      .astar_logo {
        display: block;
        width: auto;
        height: 30px;
        margin: 0 auto;
        @media #{$phone}{
          height: 20px;
        }
      }
      @media #{$phone}{
        font-size: 1rem;
      }
    }
  }
  .not_connected {
    z-index: 1;
    padding: 5rem 2rem;
    p {
      margin-bottom: 2rem;
    }
    a {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}
