@import 'settings';
.main {
  .main_copy {
    z-index: 1;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#e6007a -5.88%,#703ac2 15.42%,#0070eb 40.77%,#0297fb 72.21%,#0ae2ff 95.53%);
    -webkit-background-clip: text;
    @media #{$phone}{
      padding: 2rem;
      font-size: 40px;
      text-align: center;
    }
  }
  .astar_logo {
    z-index: 1;
    width: auto;
    height: 150px;
    @media #{$phone}{
      height: 80px;
    }
  }
  .connect_wallet {
    margin-top: 2rem;
  }
}
